# wireless core
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_CFG80211_WEXT=y

# wireless drivers
CONFIG_WLAN=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SPARD_WLAN_SUPPORT=y
# UNISOC WCN Device Drivers(for new chip...)
#
# CONFIG_SC23XX is not set
# CONFIG_WCN_BSP_DRIVER_BUILDIN is not set
# CONFIG_RK_WIFI_DEVICE_UWE5621 is not set
# CONFIG_RK_WIFI_DEVICE_UWE5622 is not set
CONFIG_AW_WIFI_DEVICE_UWE5622=y
CCONFIG_AW_BIND_VERIFY=y
# end of UNISOC WCN Device Drivers(for new chip...)

CONFIG_WLAN_UWE5622=m
CONFIG_SPRDWL_NG=m
CONFIG_UNISOC_WIFI_PS=y
CONFIG_TTY_OVERY_SDIO=m
#CONFIG_MAC80211_HWSIM=m
#CONFIG_USB_NET_RNDIS_WLAN=m
#CONFIG_VIRT_WIFI=m

# usb phy
CONFIG_PHY_SUN50I_USB3=y
# ethernet
CONFIG_MDIO_SUN4I=y
CONFIG_MOTORCOMM_PHY=m
# usb hid
CONFIG_USB_HIDDEV=y
CONFIG_TOUCHSCREEN_RASPBERRYPI_FW=y