# wireless core
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_CFG80211_WEXT=y

# wireless drivers
CONFIG_WLAN=y
#CONFIG_WLAN_VENDOR_BROADCOM=y
#CONFIG_BRCMFMAC=m

# usb phy
CONFIG_PHY_SUN50I_USB3=y
# ethernet
CONFIG_MDIO_SUN4I=y
CONFIG_MOTORCOMM_PHY=y
# usb hid
CONFIG_USB_HIDDEV=y
CONFIG_TOUCHSCREEN_RASPBERRYPI_FW=y