CONFIG_MOTORCOMM_PHY=m
#
# UNISOC WCN Device Drivers(for new chip...)
#
# CONFIG_SC23XX is not set
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_LIB_SHA256=y
CONFIG_SPARD_WLAN_SUPPORT=y
CONFIG_WCN_BSP_DRIVER_BUILDIN=y
# CONFIG_RK_WIFI_DEVICE_UWE5621 is not set
CONFIG_RK_WIFI_DEVICE_UWE5622=y
# CONFIG_AW_WIFI_DEVICE_UWE5622 is not set
# end of UNISOC WCN Device Drivers(for new chip...)

# CONFIG_WLAN_UWE5621 is not set
CONFIG_WLAN_UWE5622=m
CONFIG_SPRDWL_NG=m
CONFIG_UNISOC_WIFI_PS=y
CONFIG_TTY_OVERY_SDIO=m
CONFIG_MAC80211_HWSIM=m
CONFIG_USB_NET_RNDIS_WLAN=m
CONFIG_VIRT_WIFI=m